.venv/
__pycache__/
*.env
.env.development
.env.test
.env.production
.env.testing
ip-permissions.json
revoke-ip-permissions.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Ignore Terraform environments directory
terraform/environments/
